<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>weahter info</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <link rel= "stylesheet"  href= "{{ url_for('static',filename='styles/bulmacard.css') }}">

</head>
    <div class="card">
        <div class="card-content">
                <p>
                    <span class="title">{{ weather.place }}</span>
                    <br>
                    <span class="subtitle" style="font-weight:bold"> Temperature: {{ weather.temparature }}° C</span>
                </p>
        </div>
    </div>
</body>

</html> 
